<%- include('./common/header.ejs') %>

<h2 class="text-center"> Annonce Sauvegardées</h2>

        <!-- affichage résultat de recherche card -->
        <div class="row justify-content-center p-3 ms-0 me-0 mt-2">
            <div class="col-sm-12">
                <div class="card mb-4">
                    <!-- substr ligne 15 retourne un segment de chaine de caractére -->
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="https://fakeimg.pl/400x300/?text=World&font=lobster" class="img-fluid rounded-start"
                                alt="image produit">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">
                                    <a href="">Titre de l'annonce</a>
                                </h5>
                                <p class="card-text"><small class="text-muted">Catégorie</small></p>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Labore rem sit dolore perspiciatis cum fuga hic? Corrupti eius ullam, fuga ad vitae voluptatum esse tenetur, voluptatem non officia consectetur temporibus!</p>
                                    <p class="card-text"><large class="text-muted">19€</large></p>
                                    <p class="card-text">Paris 
                                        <small class="text-muted">
                                        <!-- datediff() pour savoir la difference entre le postage et le jour -->
                                        <!-- <?php $datetime1 = new DateTime($find->jobadd_date);
                                                $datetime2 = new DateTime($datetime = 'now');
                                                $difference = $datetime1->diff($datetime2);
                                                if($difference->days == 0):
                                                    echo 'Postée aujourd\'hui';
                                                else:
                                                echo 'Postée il y à '.$difference->days.' jour(s)';
                                                endif;
                                        ?> -->
                                        Publié le 25/10/2022 à 11h03
                                    </small>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<%- include('./common/footer.ejs') %>