


<!-- <div class="product-card container-fluid p-0">
    <div class="row">
        <div class="leftSideCard col-4 col-sm-6 col-xl-5">
            <img  src="img/image.png" alt="">
        </div>

        <div class="rightSideCard  col-8 col-sm-6 col-xl-7 d-flex flex-column">

            <h5 class="card-title py-0 py-sm-2"><%=  title %></h5>
            <p class="card-desc"><%=  desc %></p>
            <span class="card-price"><%=  price %></span>
            <span class="card-localization py-0 pt-sm-2"><%=  zipcode %></span>

        </div>
    </div>
</div> -->