<div class="productDetailContainer px-3">

    <img src="img/image.png" alt="">

    <div class="descriptionContainer w-100 p-2">
        <div class="d-flex align-items-center justify-content-between ">
            <h5><%=  title %></h5>
            <span><%=  zipcode %></span>
        </div>
        <p class="price c-green fw-700">19,99€</p>
        <p class="desc">Voilà une courte description du produit m'aidant à la mise en page.</p>
        <span class="publiedAt c-grey">Publié le 25-10-2022</span>
    </div>


    <div class="resellerContainer d-flex align-items-center mt-4 p-2">

        <img class="profilPicture" src="img/profilPic.jpg" alt="Photo de profil de l'utilisateur">

        <div class=" w-100 resellerIdentity d-flex align-items-center ">
            <div class="  d-flex  flex-column">
                <div class="resellerName">Bruce Wayne</div>
                <div class="memberSince c-grey">Membre depuis le 01/01/2020</div>
            </div>

            <div class="d-flex flex-column flex-md-row">
                <div class="buttn mb-2 mb-md-0">Notifier</div>
                <div class="buttn">Appeler</div>
            </div>
        </div>


    </div>

</div>