<footer class="bg-info">Footer</footer>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<script type="text/javascript" src="../../server/signup.js"></script> 
<script type="text/javascript" src="../../server/addProduct.js"></script> 

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<!-- <script type="text/javascript" src="../../server/signup.js"></script>  -->
<div class="container d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
        </ul>
    </nav>
</div>

<div id="footer" class="col-12 img2 img-fluid text-center bg-light">
    <div><a href="" class="text-decoration-none text-dark" target="_BLANK">Mentions Légales</a></div>

    LaBonneOcazz &copy; <strong><span>2022</span></strong> Tous droits réservés
</div>
</body>

</html>