

<footer class="bg-blue">

<div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <div class="c-white ">Powered with ❤ by </div>
    <img class="pt-1 pb-1" src="img/LaManu.jpg" alt="">
</div>

</footer>

</body>
</html>