
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<!-- <script type="text/javascript" src="../../server/signup.js"></script>  -->

<div id="footer" class="col-12 img2 img-fluid text-center bg-light">
    <div><a href="" class="text-decoration-none text-dark" target="_BLANK">Mentions Légales</a></div>

    LaBonneOcazz &copy; <strong><span>2022</span></strong> Tous droits réservés
</div>
</body>

</html>