

<footer class="bg-blue">

<div class="h-100 d-flex flex-column align-items-center">
    <div class="c-white mb-1">Powered with ❤ by </div>
    <img  src="img/LaManu.jpg" alt="">
</div>

</footer>

</body>
</html>