

<footer class="bg-info">Footer</footer>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<!-- <script type="text/javascript" src="../../server/signup.js"></script>  -->
</body>

</html>