<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous">
</script>
<script type="text/javascript" src="../../server/signup.js"></script>
<script type="text/javascript" src="../../server/addProduct.js"></script>

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<script type="text/javascript">
    
    function addClassTo() {
        target = document.getElementById("slideInFromLeft");
        target.classList.add("slideInFromLeft");
    }

    setTimeout(() => {
        addClassTo()
    }, 2000);
    
</script>




<div id="footer" class="col-12 img2 img-fluid text-center bg-light">
    <div><a href="" class="text-decoration-none text-dark" target="_BLANK">Mentions Légales</a></div>

    LaBonneOcazz &copy; <strong><span>2022</span></strong> Tous droits réservés
</div>
</body>

</html>