<div class="row ms-5 me-5">
    <div class="col search d-flex justify-content-evenly mb-3 pb-3 pt-2">

        <div class="row">
            <div class="col-lg-3 mt-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Catégorie</option>
                    <option value="1">Maison</option>
                    <option value="2">Immobilier</option>
                    <option value="3">Mode</option>
                    <option value="4">Jouet</option>
                    <option value="5">Jeux video</option>
                    <option value="6">Voiture</option>
                </select>
            </div>

            <div class="col-lg-3 d-flex justify-content-center">
                <input class="input-group form-control mt-2" type="search" placeholder="Que recherchez-vous"
                    name="searchPN">
            </div>

            <div class="col-lg-3 d-flex justify-content-center">
                <input class="input-group form-control mt-2" type="search" name="localisationPN"
                    placeholder="Saisissez un code postal">
            </div>
            <!-- switch en display bloc à peaufiné -->
            <div class="col-lg-3 d-flex justify-content-center">
                <input class="input-group form-control mt-2" type="search" name="pricePN"
                    placeholder="Prix">
            </div>

        </div>
    </div>
</div>